<c-vars id="pst-primary-sidebar" />
<dialog id="{{ id }}-modal"></dialog>
<div id="{{ id }}" class="bd-sidebar-primary bd-sidebar{% if hide_on_wide %} hide-on-wide{% endif %}">
  {# Header items that will be displayed in the sidebar on mobile #}
  <div class="sidebar-header-items sidebar-primary__section">
    <c-pst.components.navbar.start class="mx-auto" />
    <c-pst.components.navbar.end location="sidebar" class="justify-content-center mb-1" />
    {# The header center items #}
    <c-pst.components.navbar.center location="sidebar" :collapse_after="5" />
    {# The header end items #}
  </div>
  {% if sidebars %}
    <div class="sidebar-primary-items__start sidebar-primary__section">
      {% for sidebartemplate in sidebars %}
        <div class="sidebar-primary-item pst-sidebar-collapse">{% include sidebartemplate %}</div>
      {% endfor %}
    </div>
  {% endif %}
  {# Items that will snap to the bottom of the screen #}
  <div class="sidebar-primary-items__end sidebar-primary__section">
    {% for sidebartemplate in theme_options.primary_sidebar_end %}
      <div class="sidebar-primary-item">{% include sidebartemplate %}</div>
    {% endfor %}
  </div>
</div>
