{% extends 'base.html' %}
{% block content %}
  {% if sections.sidebar_primary %}<c-component :attrs="sections.sidebar_primary" />{% endif %}
  <c-pst.sections.main class="{{ main_class }}">
    {% if sections.header %}<c-component :attrs="sections.header" />{% endif %}
    <div class="bd-content {{ content_class }}">
      <div class="{{ container_class }}">
        <c-pst.components.searchbox />
        <c-pst.sections.article>
          {{ slot }}
        </c-pst.sections.article>
      </div>
      {% if sections.sidebar_secondary %}<c-component :attrs="sections.sidebar_secondary" only />{% endif %}
    </div>
    <c-pst.sections.footer-content />
  </c-pst.sections.main>
{% endblock content %}
