<div class="wrapper d-flex w-100 {{ layout.wrapper_class }}">
  {% if sections.sidebar_primary %}<c-component :attrs="sections.sidebar_primary" />{% endif %}
  <main class="main flex-grow-1 overflow-hidden {{ layout.main_class }}">
    {% if sections.header %}<c-component :attrs="sections.header" />{% endif %}
    <c-sections.alerts />
    <div class="content d-flex {{ layout.content_class }}">
      <div class="content-inner container-fluid flex-grow-1 {{ layout.container_class }}">{{ slot }}</div>
      {% if sections.sidebar_secondary %}<c-component :attrs="sections.sidebar_secondary" only />{% endif %}
    </div>
  </main>
  {% if sections.footer %}<c-pst.sections.footer-content />{% endif %}
</div>
