<c-vars :collapsible="True" />
<div class="bd-sidebar-primary bd-sidebar {{ class }}" {{ attrs }}>
  {% if header %}
    <c-pst.sections.sidebar.header>
    {{ header }}
    </c-pst.sections.sidebar.header>
  {% endif %}
  <div class="sidebar-primary-items__start sidebar-primary__section">
    {% if collapsible %}
      <div class="sidebar-primary-item pst-sidebar-collapse">
        <c-pst.components.sidebar-collapse />
      </div>
    {% endif %}
    {{ slot }}
  </div>
  <c-pst.sections.sidebar.footer>
  {{ footer }}
  </c-pst.sections.sidebar.footer>
</div>
