{% load static %}

<c-vars href="/" default_mode="light" theme_logo="logo.svg" :is_logo="True" />
<a class="navbar-brand logo {{ class }}" href="{{ href }}" {{ attrs }}>
  {% if is_logo %}
    <img src="{% static theme_options.logo.image_light %}"
         class="logo__image only-light"
         alt="{{ theme_options.logo.text }}" />
    <img src="{% static theme_options.logo.image_dark %}"
         class="logo__image only-dark"
         alt="{{ theme_options.logo.text }}" />
  {% else %}
    <p class="title logo__title">{{ title }}</p>
    {% comment %} {% if not is_logo or theme_logo.get("text") %}
      <p class="title logo__title">{{ theme_logo.get("text") or docstitle }}</p>
    {% endif %} {% endcomment %}
  {% endif %}
</a>
