{% load easy_icons %}

<nav {{ attrs }}>
  <ul class="pagination {{ ul_class }}">
    <!-- First Link -->
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
      {% if page_obj.has_previous %}
        <c-bs5.pagination.link num="1" label="{{ start_icon }}" />
      {% else %}
        <span class="page-link" tabindex="-1">{{ start_icon }}</span>
      {% endif %}
    </li>
    <!-- Previous Link -->
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
      {% if page_obj.has_previous %}
        <c-bs5.pagination.link num="{{ page_obj.previous_page_number }}"
                               label="{{ previous_icon }}" />
      {% else %}
        <span class="page-link" tabindex="-1">{{ previous_icon }}</span>
      {% endif %}
    </li>
    <!-- Page Number Links with Maximum of 10 -->
    {% if page_obj.paginator.num_pages > 10 %}
      {% if page_obj.number > 4 %}
        <c-bs5.pagination.link num="1" />
        {% if page_obj.number > 5 %}<span class="page-link align-middle disabled ellipsis">...</span>{% endif %}
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if num >= page_obj.number|add:'-3' and num <= page_obj.number|add:'3' %}
          {% if num == page_obj.number %}
            <strong class="page-link active">{{ num }}</strong>
          {% else %}
            <c-bs5.pagination.link :num="num" />
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
        {% if page_obj.number < page_obj.paginator.num_pages|add:'-4' %}
          <span class="page-link disabled align-middle ellipsis">...</span>
        {% endif %}
        <c-bs5.pagination.link :num="page_obj.paginator.num_pages" />
      {% endif %}
    {% else %}
      <!-- If total pages are less than or equal to 10, show all page numbers -->
      {% for num in page_obj.paginator.page_range %}
        <li class="page-item {% if num == page_obj.number %}active{% endif %}">
          <c-bs5.pagination.link :num="num" />
        </li>
      {% endfor %}
    {% endif %}
    <!-- Next Link -->
    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
      {% if page_obj.has_next %}
        <c-bs5.pagination.link :num="page_obj.next_page_number"
                               :label="next_icon" />
      {% else %}
        <span class="page-link">{{ next_icon }}</span>
      {% endif %}
    </li>
    <!-- Last Link -->
    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
      {% if page_obj.has_next %}
        <c-bs5.pagination.link :num="paginator.num_pages" :label="end_icon" />
      {% else %}
        <span class="page-link">{{ end_icon }}</span>
      {% endif %}
    </li>
  </ul>
</nav>
