<c-vars :active="False"
        :disabled="False"
        variant=""
        href
        tag="li"
        class />
{# djlint:off #}
<{% if href %}a href="{{ href }}"{% else %}{{ tag }}{% endif %} 
class="list-group-item{% if href %} list-group-item-action{% endif %}{% if active %} active{% endif %}{% if disabled %} disabled{% endif %}{% if variant %} list-group-item-{{ variant }}{% endif %} {{ class }}"
{% if disabled %}aria-disabled="true"{% endif %}
{{ attrs }}>
{{ slot }}
</{% if href %}a{% else %}{{ tag }}{% endif %}>
{# djlint:on #}
