{% load easy_icons %}

<c-vars style="primary" size="" outline="" :visible="True" text class />
{# djlint:off #}
{% if visible %}
<{% if href %}a {% else %}button {% endif %} {{ attrs }}
class="btn btn-{{ style }} btn-{{ size }} {% if outline %}btn-outline{% endif %} {{ class }}">
{% comment %} {% if icon %} {% endcomment %}
{{ icon }}
{% comment %} {% icon icon %} {% endcomment %}
{% comment %} {% endif %} {% endcomment %}
{{ slot }}
{{ text }}
</{% if href %}a {% else %}button {% endif %} >
{% endif %}
{# djlint:on #}
