<c-vars variant="primary"
        size=""
        outline=""
        text
        icon
        class />
{# djlint:off #}
<{% if href %}a{% else %}button{% endif %}
  class="btn {% if outline %} btn-outline-{{ variant }}{% else %} btn-{{ variant }}{% endif %}
  {% if size %}btn-{{ size }}{% endif %}
  {{ class }}" {{ attrs }}>
{# djlint:on #}
{% if slot %}
  {{ slot }}
{% else %}
  {% if icon %}{{ icon }}{% endif %}
  {{ text }}
{% endif %}
{# djlint:off #}
</{% if href %}a{% else %}button{% endif %}>
{# djlint:on #}
